.container {
    position: absolute;
    margin-top: 150px;
    width: 100%;
    padding: 30px;
}

.fullName {
    font-size: 3.0em;
    color: #0E0354;
    text-align: center;
}

.elements {
    width: 100%;
    margin-top: 500px;
}

.item {
    color: #0E0354;
    margin-bottom: 4em;
    padding-top:2em;
}
   


    .item_name {
        height:90px;

        flex-wrap: wrap;
        font-family: Roboto;
        font-style: normal;      
        font-size: 2.0em;
        
        text-align:center;
        justify-content:center;
    }

    .item_header {
        height:90px;
        flex-wrap: wrap;
        justify-content: center;
        font-family: Roboto;
        font-style: normal;
        font-size: 2.0em;
        text-align:center;
        height: 90px;
        
       

    }

.image {
    margin-top:1em;
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 400px;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
 left:50%;
 margin-left:-200px;
}

    .image img {
        position: relative;
        height:100%;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%,-50%,0);
        
    }

.element {
    padding: 20px 20px;
    width: 100%;
    color: #14056C;
    text-align: center;
    font-size: 1.5em;
}

.url {
    padding: 20px;
}
